{% extends "base.html" %}

{% block title %}Migration Agent Profile{% endblock %}

{% block content %}

<div class="container">
	<header>
		<h2>Migration Agent Profile</h2>
	</header>
	
	<main class="content-container">
		<!-- Basic Information -->
		<section class="profile-section">
			<h3>Agent Information:</h3>
			<div class="profile-info">
				<p><strong>Name:</strong> James Do</p>
				<p><strong>Contact Details:</strong> james.do@example.com, +123456789</p>
			</div>
		</section>

		<!--Statistics-->
		<section class="profile-section">
			<h3>Statistics</h3>
			<div class="profile-info">
				<p><strong>Number of Clients:</strong> 10</p>
				<p><strong>Number of Successful Applications:</strong> 5</p>
				<p><a href="migra_statistics.html" class="btn btn-primary"><strong>Trending</strong></a></p>
			</div>
		</section>
	</main>
</div>
{% endblock %}