<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Easi Resy, immi tools, Easi Resy company" />
  <meta name="description" content="Easi Resy solution" />
  <meta name="author" content="Ha Ngo" />
  <title>{% block title %}My Application{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <!-- Common Header -->
  <header>
  <div class="header-container">
    <div class="logo">
      <a href="homepage.html" class="logo-link">Easy Resi</a>
    </div>
    <nav class="navbar">
      <ul class="nav-list">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown">
              <a href="#" class="dropbtn">Skilled Migration Visa</a>
              <div class="dropdown-content">
                  <a href="189.html">Skilled Independent Visa - Subclass 189</a>
                  <a href="#">Skilled Nominated Visa - Subclass 190</a>
                  <a href="#">Skilled Work Regional Provisional Visa - Subclass 491</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#" class="dropbtn">Courses</a>
              <div class="dropdown-content">
                  <a href="pathway_course.html">PR Parthway courses</a>
                  <a href="#">Bachelor</a>
                  <a href="#">Master</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#" class="dropbtn">Latest Updates</a>
              <div class="dropdown-content">
                  <a href="#">Blogs</a>
                  <a href="#">News</a>
                  <a href="#">Events</a>
              </div>
          </li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </nav>
  </div>
  </header>

  <!-- Main Content Block -->
  <main>
    {% block content %}
    <!-- Content will be injected here -->
    {% endblock %}
  </main>

  <!-- Common Footer -->
  <footer>
    <div class="container">
        <p>&copy; 2024 Easy Resi. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
