{% extends "base.html" %}

{% block title %}Visa Points Form - My Application{%endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
{% endblock %}

{% block content %}

<h1>Overall applicant results</h1>

<!-- Pie Chart -->
<div class="chart-container PieChart">
  <h2>Pie Chart</h2>
  <canvas id="myPieChart"></canvas>
</div>

<h1>Monthly Eligibility Based on Visa Type</h1>

<!-- Bar Chart -->
<div class="chart-container BarChart">
  <h2>Bar Chart</h2>
  <canvas id="myBarChart"></canvas>
</div>

<!-- Inline script to pass data from Flask to the external JS file -->
<script>
  window.pieLabels = {{ pie_labels | tojson }};
  window.pieValues = {{ pie_values | tojson }};
  window.barLabels = {{ bar_labels | tojson }};
  window.barValuesA = {{ bar_values_A | tojson }};
  window.barValuesB = {{ bar_values_B | tojson }};
  window.barValuesC = {{ bar_values_C | tojson }};
</script>

<!-- Link to external JavaScript file -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

{% endblock %}
