{% extends "base.html" %}

{% block title %}Educational Provider Profile{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h2>Educational Provider Profile</h2>
        </header>
        <main class="content-container">
            <!-- Basic Information -->
            <section class="profile-section">
                <h3>Institution Details:</h3>
                <div class="profile-info">
                    <p><strong>Name:</strong> Henry Brown</p>
                    <p><strong>Institution:</strong> Swinburne University of Technology</p>
                    <p><strong>Contact Details:</strong> henry.brown@example.com, +123456789</p>
                </div>
            </section>

            <!-- Menu Buttons -->
            <h2>Services</h2>
            <div class="service-cards">
              <div class="card">
                <h3><a href="edu_statistics.html" class="btn btn-primary">View Statistics</a></h3>
                <p>You can see anonymized interest statistics.</p>
              </div>
              <div class="card">
                <h3><a href="manage_courses.html" class="btn btn-primary">Manage Courses</a></h3>
                <p>Manage the courses provided by your Institution</p>
              </div>
            </div>
            
        </main>
    </div>
{% endblock %}