{% extends "base.html" %}

{% block title %}Education Provider Dashboard{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles4.css') }}">
{% endblock %}

{% block content %}
  <h1>Education Provider Dashboard</h1>
  <div class="main">
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <div class="number">50</div>
          <div class="card-name">18-24 Years old</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-user-graduate"></i>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="number">35</div>
          <div class="card-name">28-32 Years old</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
      </div>
        <div class="card">
          <div class="card-content">
            <div class="number">70</div>
            <div class="card-name">33-39 Years old</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">15</div>
            <div class="card-name">40-45 Years old</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name">Above 45 Years old</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
      </div>
    </div>
  <div class="chart-wrapper">
    <div class="chart-container">
      <h3>Willing to complete Professional Year Program</h3>
      <canvas id="willingtocompleteprofessionalYearProgram"></canvas>
    </div>
    <div class="chart-container">
      <h3>Willing to study in Regional Area</h3>
      <canvas id="willingtostudyinRegionalArea"></canvas>
    </div>
    <div class="chart-container">
      <h3>Interested State to Study</h3>
      <canvas id="interestedstatetoStudy"></canvas>
    </div>
  </div>
    <div class="chart-cont">
      <h3>Applicants by English Language Level</h3>
      <canvas id="englishLevelChart"></canvas>
    </div>
  </div>
  <div class="chart-wrapper">
    <div class="chart-bar">
      <h3>Interested Study Categories</h3>
      <canvas id="interestedStudyCategories"></canvas>
    </div>
    <div class="chart-bar">
      <h3>Interested Course Duration</h3>
      <canvas id="interestedCourseDuration"></canvas>
    </div>
    <div class="chart-bar">
      <h3>Expected Maximum Course Fee</h3>
      <canvas id="expectedMaximumCourseFee"></canvas>
    </div>
    <div class="chart-cont">
        <h3>Highest Level of Education Willing to Achieve</h3>
        <canvas id="educationLevelChart"></canvas>
    </div>
  </div>

  <!-- Pass processed chart data from Flask to JS via the window object -->
  <script>
    // Pie Chart Data
    window.willingtocompleteprofessionalYearProgramLabels = {{ professional_year_labels|tojson }};
    window.willingtocompleteprofessionalYearProgramValues = {{ professional_year_values|tojson }};

    window.willingtostudyinRegionalAreaLabels = {{ regional_study_labels|tojson }};
    window.willingtostudyinRegionalAreaValues = {{ regional_study_values|tojson }};

    window.interestedstatetoStudyLabels = {{ state_labels|tojson }};
    window.interestedstatetoStudyValues = {{ state_values|tojson }};

    // Bar Chart Data
    window.interestedStudyCategoriesLabels = {{ specialist_education_labels|tojson }};
    window.interestedStudyCategoriesValues = {{ specialist_education_values|tojson }};

    window.interestedCourseDurationLabels = {{ course_duration_labels|tojson }};
    window.interestedCourseDurationValues = {{ course_duration_values|tojson }};

    window.expectedMaximumCourseFeeLabels = {{ tuition_fee_labels|tojson }};
    window.expectedMaximumCourseFeeValues = {{ tuition_fee_values|tojson }};

    window.educationLevelChartLabels = {{ education_level_labels|tojson }};
    window.educationLevelChartValues = {{ education_level_values|tojson }};

    window.englishLevelLabels = {{ english_level_labels|tojson }};
    window.englishLevelValues = {{ english_level_values|tojson }};
  </script>

  <!-- Link to external JavaScript files -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}
