{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1 class="login">Log in to start calculating your point</h1>
  <form class="login-form" action="/login" method="POST">
    <label for="email">Email:</label>
    <input class="login-input" type="text" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input class="login-input" type="password" id="password" name="password" required><br>
    <button type="submit" class="submit-button">Login</button>
  </form>
  <p class="login-para">Don't have an account, register <a href="{{ url_for('main.register') }}">here</a></p>
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
{% endblock %}
