{% extends "base.html" %}

{% block title %}Course Recommendation{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
{% endblock %}

{% block content %}
  <h2>Recommended Courses</h2>

  {% if recommended_courses %}
    <form class="recommend-form" method="POST" action="{{ url_for('main.user_course_pref') }}">
      <table id="recommendationTable" class="recommendationTable" border="1" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Course Provider</th>
            <th>University</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Education Level</th>
            <th>Specialist Education</th>
            <th>Professional Year</th>
            <th>Duration (Years)</th>
            <th>Tuition Fee</th>
            <th>Regional Study</th>
            <th>Contact Info</th>
            <th>Monthly Cost of Living</th>
            <th>Annual Cost of Living</th>
            <th>Save Option</th>
            <th class="hidden">Points</th>
          </tr>
        </thead>
        <tbody>
          {% for course in recommended_courses %}
            <tr>
              <td>{{ course.course_num }}</td>
              <td>{{ course.course_name }}</td>
              <td>{{ course.provider.first_name }} {{ course.provider.last_name }}</td>
              <td>{{ course.university.university }}, {{ course.university.suburb }}</td>
              <td>{{ course.university.state }}</td>
              <td>{{ course.university.postcode }}</td>
              <td>{{ course.level.capitalize() }}</td>
              <td>{{ course.specialist_education.capitalize() }}</td>
              <td>{{ 'Yes' if course.prof_year else 'No' }}</td>
              <td>{{ course.duration }}</td>
              <td>{{ course.tuition_fee }}</td>
              <td>{{ 'Yes' if course.regional else 'No' }}</td>
              <td>{{ course.university.email }}</td>
              <td>{{ course.cost_of_living or 'N/A' }}</td>
              <td>{{ course.cost_of_living_annual or 'N/A' }}</td>
              <td>
                <input type="checkbox" name="save_course" value="{{ course.id }}">
              </td>
              <td class="hidden">{{ course.points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" value="Save Selected Courses">
    </form>
  {% else %}
    <p>No courses matched your criteria.</p>
  {% endif %}

  <!-- jQuery and DataTables JS -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}