{% extends "base.html" %}

{% block title %}User Registration{% endblock %}

{% block content %}
  <h2>Register a New User</h2>  
  <form class="register-form" action="/register" method="POST">
    <label for="email">Email:</label>
    <input class="input-register" type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input class="input-register" type="password" id="password" name="password" required><br>

    <!-- <label for="confirm-password">Confirm Password:</label>
    <input class="input-register" type="confirm-password" id="confirm-password" name="confirm-password" required><br> -->

    <label for="first_name">First Name:</label>
    <input class="input-register" type="text" id="first_name" name="first_name" required><br>

    <label for="last_name">Last Name:</label>
    <input class="input-register" type="text" id="last_name" name="last_name" required><br>

    <label for="phone">Phone:</label>
    <input class="input-register" type="text" id="phone" name="phone" required><br>

    <label for="user_role">User Role:</label>
    <select class="input-register" id="user_role" name="user_role" required>
      <option value="" selected readonly>Select</option>
      {% for role in roles %}
        <option value="{{ role.user_role }}">{{ role.name }}</option>
      {% endfor %}
    </select><br> 
    
    <label for="edu_id">Educator ID:</label>
    <input class="input-register" type="text" id="edu_id" name="edu_id"><br>

    <label for="abn">ABN number:</label>
    <input class="input-register" type="text" id="abn" name="abn"><br>

    <label for="address">Address:</label>
    <input class="input-register" type="text" id="address" name="address"><br>

    <button class="submit-button" type="submit">Register</button>
  </form>
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>

{% endblock %}