{% extends "base.html" %}

{% block title %}Visa Eligibility Results{% endblock %}

{% block content %}
  <h1>Visa Eligibility Results</h1>

  {% if visa_189_message %}
  <section>
    <h2>Visa Subclass 189</h2>
    <p>{{ visa_189_message }}</p>
  </section>
  <section>
    <p>Visa Subclass 189, also known as the Skilled Independent Visa, is a points-tested visa designed for skilled workers who are not sponsored by an employer, family member, or state/territory government. This visa allows individuals to live and work permanently in Australia and is suited for applicants with skills that are in demand in the Australian labor market.</p>
  </section>
  {% endif %}

  {% if visa_190_message %}
  <section>
    <h2>Visa Subclass 190</h2>
    <p>{{ visa_190_message }}</p>
  </section>
  {% endif %}

  {% if visa_491_message %}
  <section>
    <h2>Visa Subclass 491</h2>
    <p>{{ visa_491_message }}</p>
  </section>
  {% endif %}

  <a href="{{ url_for('main.questionnaire') }}">Go Back to Questionnaire</a>
{% endblock %}