{% extends "base.html" %}

{% block title %}Visa Eligibility Results{% endblock %}

{% block content %}
  <h1>Visa Eligibility Results</h1>

  {% if visa_189_eligible or visa_190_eligible or visa_491_eligible %}
    <ul>
      <p>Your points is: {{ points }}</p>
      {% if visa_189_eligible %}
        <section>
          <h2>Visa Subclass 189</h2>
          <p>Congratulation! You are eligible for Visa Subclass 189</p>
        </section>
        <section>
          <p>Visa Subclass 189, also known as the Skilled Independent Visa, is a points-tested visa designed for skilled workers who are not sponsored by an employer, family member, or state/territory government. This visa allows individuals to live and work permanently in Australia and is suited for applicants with skills that are in demand in the Australian labor market.</p>
        </section>
      {% endif %}
      {% if visa_190_eligible %}
        <section>
          <h2>Visa Subclass 190</h2>
          <p>Congratulation! You are eligible for Visa Subclass 190</p>
        </section>
        <section>
          <p>Visa Subclass 190, known as the Skilled Nominated Visa, is a points-tested permanent residency visa for skilled workers who are nominated by an Australian state or territory government. This visa allows individuals to live and work permanently in Australia, but it requires state or territory nomination, making it ideal for applicants whose skills are in demand in a specific region.</p>
        </section>
      {% endif %}
      {% if visa_491_eligible %}
        <section>
          <h2>Visa Subclass 491</h2>
          <p>Congratulation! You are eligible for Visa Subclass 491</p>
        </section>
        <section>
          <p>Visa Subclass 491, or the Skilled Work Regional (Provisional) Visa, is a temporary visa for skilled workers nominated by an Australian state or territory government, or sponsored by an eligible family member living in a designated regional area. This visa allows applicants to live, work, and study in regional Australia for up to five years, with the possibility of applying for permanent residency later (Subclass 191).</p>
        </section>
      {% endif %}
    </ul>
  {% else %}
    <section>
      <p>Unfortunately, you are not eligible for any visa at this time.</p>
      <a href="{{ url_for('main.path_to_visa') }}">Learn more about improving your eligibility</a>
    </section>
  {% endif %}

  <a href="{{ url_for('main.questionnaire') }}">Go Back to Questionnaire</a>
{% endblock %}